* {
    margin: 0px;
    padding: 0px;
}
a {
    color: gray;
}
.logo {
    height: 8vh;
    margin: 1vh;
}
.aboutus {
    height: 35vh;
    margin: 3vh;
}
.text-parallel-to-abt-img{
    font-size: 2.5vh;
}
.text-below-abt-img{
    font-size: 2vh;
}
.footer-logo{
    height: 10vh;
    margin-top: 15vh;
}
.my_pad{
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.bg-img-testimonials{
    background-image: url("./resources/images/testimonials.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.my_container{
    height: 350vh;
}
.my_text{
    font-size: 2.5vh;
}
.pad_footer{
    padding-left: 10vw;
}
.LandingCoursesCC{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.85)), url("./resources/images/ComputerCourse2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
}
.LandingCoursesAccounting{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.85)),url("./resources/images/ComputerCourse1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
}
.LandingCoursesFashionDesign{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.85)),url("./resources/images/FashionDesinging.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
}
#footer{
    background-image: url("./resources/images/Footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 692px){
    .hide-sm{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .hide-md{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .logo {
        width: 100vw;
        margin: 1vh;
    }
    .footer-logo{
        width: 100vw;
        margin-top: 15vh;
    }
    .LandingCoursesCC{
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.85)), url("./resources/images/ComputerCourse2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
    }
    .LandingCoursesAccounting{
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.85)),url("./resources/images/ComputerCourse1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
    }
    .LandingCoursesFashionDesign{
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.85)),url("./resources/images/FashionDesinging.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
    }
}
